<div class="card">
    <div class="card-header">
        <h5>Editare Profil</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-7 col-xl-6">
                <div class="form-group">
                    <label for="profile-first-name">Prenume</label>
                    <input type="text" class="form-control" id="profile-first-name" placeholder="Prenume">
                </div>
                <div class="form-group">
                    <label for="profile-last-name">Nume</label>
                    <input type="text" class="form-control" id="profile-last-name" placeholder="Nume">
                </div>
                <div class="form-group">
                    <label for="profile-email">Email</label>
                    <input type="email" class="form-control" id="profile-email" placeholder="Adresa de Email">
                </div>
                <div class="form-group">
                    <label for="profile-phone">Telefon</label>
                    <input type="text" class="form-control" id="profile-phone" placeholder="Telefon">
                </div>

                <div class="form-group mt-5 mb-0">
                    <button class="btn btn-primary">Salvează</button>
                </div>
            </div>
        </div>
    </div>
</div>
