<div class="footer-newsletter">
    <h5 class="footer-newsletter__title">Newsletter</h5>
    <div class="footer-newsletter__text">
        Abonează-te la newsletter cu adresa ta de email!
    </div>

    <form action="" class="footer-newsletter__form">
        <label class="sr-only" for="footer-newsletter-address">Email</label>
        <input type="text" class="footer-newsletter__form-input form-control" id="footer-newsletter-address" placeholder="Email...">

        <button class="footer-newsletter__form-button btn btn-primary">Trimite</button>
    </form>

    <div class="footer-newsletter__text footer-newsletter__text--social">
        Urmărește-ne pe rețele sociale!
    </div>

    <app-social-links class="footer-newsletter__social-links" shape="circle"></app-social-links>
</div>
