<div class="block">
    <div class="container">
        <div class="not-found">
            <div class="not-found__404">
                Oops! Eroare 404
            </div>

            <div class="not-found__content">
                <h1 class="not-found__title">Nu am găsit nimic!</h1>

                <p class="not-found__text">
                    Încearcă din nou!
                </p>

                <a class="btn btn-secondary btn-sm" href="index.html">ACASĂ</a>
            </div>
        </div>
    </div>
</div>
