<div class="card">
    <div class="card-header">
        <h5>Editare Adresă</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="checkout-first-name">Prenume</label>
                        <input type="text" class="form-control" id="checkout-first-name" placeholder="Prenume">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="checkout-last-name">Nume</label>
                        <input type="text" class="form-control" id="checkout-last-name" placeholder="Nume">
                    </div>
                </div>

                <div class="form-group">
                    <label for="checkout-company-name">Nume Firmă <span class="text-muted">(Opțional)</span></label>
                    <input type="text" class="form-control" id="checkout-company-name" placeholder="Nume Firmă">
                </div>
                <div class="form-group">
                    <label for="checkout-country">Țară</label>
                    <select id="checkout-country" class="form-control form-control-select2">
                        <option>Selectează țara...</option>
                        <option>România</option>
                        <option>Italy</option>
                        <option>France</option>
                        <option>Ukraine</option>
                        <option>Germany</option>
                        <option>Australia</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="checkout-street-address">Strada</label>
                    <input type="text" class="form-control" id="checkout-street-address" placeholder="Strada">
                </div>
                <div class="form-group">
                    <label for="checkout-address">Apartment, etaj, etc.
                        <span class="text-muted">(Opțional)</span>
                    </label>
                    <input type="text" class="form-control" id="checkout-address">
                </div>
                <div class="form-group">
                    <label for="checkout-city">Localitate</label>
                    <input type="text" class="form-control" id="checkout-city">
                </div>
                <div class="form-group">
                    <label for="checkout-state">Județ</label>
                    <input type="text" class="form-control" id="checkout-state">
                </div>
                <div class="form-group">
                    <label for="checkout-postcode">Cod Poștal</label>
                    <input type="text" class="form-control" id="checkout-postcode">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="checkout-email">Email</label>
                        <input type="email" class="form-control" id="checkout-email" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="checkout-phone">Telefon</label>
                        <input type="text" class="form-control" id="checkout-phone" placeholder="Telefon">
                    </div>
                </div>

                <div class="form-group mt-3 mb-0">
                    <button class="btn btn-primary">Salvează</button>
                </div>
            </div>
        </div>
    </div>
</div>
