<app-page-header [header]="'Întrebari Și Răspunsuri'" [breadcrumbs]="[
    {label: 'Home',                        url: '../../'},
    {label: 'Întrebari Și Răspunsuri',  url: ''}
]"></app-page-header>

<div class="block faq">
    <div class="container">
        <div class="faq__section">
            <div class="faq__section-title">
                <h3>Informații Despre Transport</h3>
            </div>
            <div class="faq__section-body">
                <div class="row">
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>Ce metode de transport utilizați?</h6>
                            <p>
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                            </p>

                            <h6>Faceți transport internațional?</h6>
                            <p>
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                            </p>
                        </div>
                    </div>
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>Cu ce curieri lucrați?</h6>
                            <p>
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                            </p>

                            <h6>Când se plătește în plus la transport?</h6>
                            <p>
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq__section">
            <div class="faq__section-title">
                <h3>Informații Despre Plăți</h3>
            </div>
            <div class="faq__section-body">
                <div class="row">
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>Ce metode de plată sunt disponibile?</h6>
                            <p>
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit
                                esse cillum dolore eu fugiat.
                            </p>
                        </div>
                    </div>
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>Pot plăti cu un card care nu este al meu?</h6>
                            <p>
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate
                                velit esse cillum dolore eu fugiat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq__section">
            <div class="faq__section-title">
                <h3>Comenzi Și Returi</h3>
            </div>
            <div class="faq__section-body">
                <div class="row">
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>Cum se face un retur?</h6>
                            <p>
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit
                                esse cillum dolore eu fugiat.
                            </p>
                        </div>
                    </div>
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>Cum se face o comandă?</h6>
                            <p>
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat,
                                Duis aute irure dolor in reprehenderit in voluptate velit
                                esse cillum dolore eu fugiat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>